<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Funcionário</title>
</head>
<body>

<h2>Cadastro de Funcionário</h2>

<form method="POST">
    
    <label for="fname">Nome Completo:</label><br>
    <input type="text" id="nomef" name="nomef"><br>
    <label for="telefonef">Telefone:</label><br>
    <input type="text" id="telefonef" name="telefonef"><br>
    <p>Tipo do Salario:</p><br>
    <label for="s_fixo">Fixo</label>
    <input type="radio" id="s_fixo" name="salario">
    <label for="s_porcentagem">Porcentagem</label>
    <input type="radio" id="s_porcentagem" name="salario"><br>
    <label for="valor_salariof">Valor do Salario</label><br>
    <input type="text" id="valor_salariof" name="valor_salariof"><br>

    <button type="submit">Salvar</button>
</form>

</html>