<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo_form.css" >
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Cadastro Cliente</title>
</head>
<body>
    <h2>Cadastro de Cliente</h2>

    <form action="/usuario.html" target="_blank"></form>
        <label for="nome_c">Nome</label><br>
        <input type="text" id="nome_c" name="nome_c"><br>
        <label for="endereco_c">Endereço</label><br>
        <input type="text" id="endereco_c" name="endereco_c"><br>
        <label for="telefone_c">Telefone</label><br>
        <input type="text" id="telefone_c" name="telefone_c"><br>
        <label for="email_c">Email</label><br>
        <input type="email" id="email_c" name="email_c"><br>

        <button type="submit" value="Submit">Salvar</button>
        <a href="/fornecedor/fornecedor.html">teste</a>
        
    </form>
</body>
</html>